body {
    background-color: #f5f7fb;
    font-family: Arial, sans-serif;
    background-image: url(https://images.pexels.com/photos/243971/pexels-photo-243971.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-repeat: no-repeat;
    background-size: 100%;
    padding:25px;
  }
  
  .container {
    width: 400px;
    margin: 0 auto;
    padding: 40px 50px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    opacity: 100%;
  }
  
  .logo {
    width: 80px;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
    color: #555;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #f5f7fb;
    color: #333;
  }
  
  button {
    width: 100%;
    padding: 12px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  button:active {
    background-color: #3d8b40;
  }
  
  p {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #555;
  }
  
  a {
    color: #4caf50;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
h2{
    background: linear-gradient(to left,
                    violet,
                    indigo,
                    blue,
                    green,
                    orange,
                    red,
                    yellow);
            -webkit-background-clip: text;
            color: transparent;
}